.contactHeading {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  height: 190px;
  justify-content: center;
}

.contactBioWhite {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background-color: white;
  min-width: 100vw;
  padding-top: 5vh;
  max-width: 1300px;
}
.contactBioWhite p {
  line-height: 25px;
  text-align: center;
}

.contactBioWhite a {
  color: black;
}
