html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#root {
  height: 100%;
  display: flex;
  align-items: start;
  background-color: white;
  background-size: 400% 400%;
  animation: gradient 11s ease infinite;
}
h4 {
  margin: 0;
}

@media (min-width: 1300px) {
  p {
    font-size: larger;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: x-large;
  }
}
