.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}

.picAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeHeadingSelfie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeBioHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeSelfie {
  min-width: 150px;
  min-height: 150px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-image: url("./cv-pic.jpg");
  margin-bottom: 16px;
}

.homeBioHeading h3 {
  font-weight: 300;
}

.homeBioBlack {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 0 2em;
  margin: 1em 0;
  margin: 0 0;
}

.homeBioBlack p {
  line-height: 25px;
  color: white;
}

.homeBioGrey {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  line-height: 25px;
  padding: 0 2em;
  margin: 0 0;
}

.homeBioNav {
  color: whitesmoke;
}

.homePic {
  width: 100%;
}

.homeContact {
  width: 100%;
}
.homeBioContactHeading {
  display: flex;
  color: whitesmoke;
  justify-content: center;
}

.homeBioContactButton {
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
}

@media (min-width: 1024px) {
  .picAndText {
    flex-direction: row-reverse;
    width: 100%;
  }

  .reverse {
    flex-direction: row;
  }
  .homeWrapper img {
    height: 200px;
  }
  .homeBioBlack,
  .homeBioGrey {
    height: 200px;
    text-align: center;
    justify-content: center;
  }
}
