.homeWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  max-width: 1300px;
}

.picAndText {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1300px;
}

.homeHeadingSelfie {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homeBioHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.homeSelfie {
  min-width: 150px;
  min-height: 150px;
  border-radius: 100%;
  background-position: center;
  background-size: cover;
  background-image: url(../../../public/cv-pic.jpg);
  margin-bottom: 16px;
}

.homeBioHeading h3 {
  font-weight: 300;
}

.homeBioBlack {
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 0 2em;
  margin: 1em 0;
  margin: 0 0;
}

.homeBioBlack p {
  line-height: 25px;
  color: white;
}

.homeBioGrey {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  line-height: 25px;
  padding: 0 2em;
  margin: 0 0;
}

.homeBioNav {
  color: whitesmoke;
}

.homePic {
  width: 100%;
}

.homeContact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homeBioContactHeading {
  display: flex;
  color: whitesmoke;
  justify-content: center;
}

.homeBioContactButton {
  color: black;
  text-decoration: none;
  background-color: whitesmoke;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  width: 40%;
  max-width: 200px;
}

.homeBioContactButton:hover {
  font-style: italic;
}

.fadeAnimation div:nth-child(1) {
  animation-delay: 5s;
}

@media (min-width: 1024px) {
  .picAndText {
    flex-direction: row-reverse;
    width: 100%;
  }

  .reverse {
    flex-direction: row;
  }
  .homeWrapper img {
    height: 200px;
  }
  .homeBioBlack,
  .homeBioGrey {
    height: 200px;
    text-align: center;
    justify-content: center;
  }
  .fadeAnimation {
    animation: fade-in 3s;
  }
  .fadeAnimationReverse {
    animation: fade-in-reverse 3s;
  }

  @keyframes fade-in-reverse {
    from {
      margin-right: -100%;
    }
    to {
      margin-left: inherit;
    }
  }

  @keyframes fade-in {
    from {
      margin-left: -100%;
    }
    to {
      margin-left: inherit;
    }
  }
}

@media (min-width: 1300px) {
  .homeWrapper p {
    font-size: larger;
  }
  .homeWrapper img {
    height: 400px;
  }
  .homeBioBlack,
  .homeBioGrey {
    height: 400px;
  }
}
