.contentBoxWrapper {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  align-items: center;
  width: 100%;
}

.contentBoxIntro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contentBoxIntro h4 {
  text-decoration: none;
  font-weight: lighter;
}

.contentIntroButtonsWrapper {
  display: flex;
  justify-content: center;
}

.contentIntroButtons {
  color: black;
  background-color: transparent;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  text-decoration: none;
}

.contentIntroButtons:hover {
  color: whitesmoke;
  background-color: black;
}
