.projectHeading {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  height: 265px;
  margin-bottom: 0;
}

.projectHeading h4 {
  text-decoration: none;
  font-weight: lighter;
}

.projectHeadingLater {
  justify-content: center;
  margin: 0;
}

.groupProjectSection {
  background: black;
  display: flex;
  flex-direction: column;
}

.reactProjectSection {
  background: white;
}

.backendProjectSection {
  background: black;
}

.projectViewWrapper {
  width: 100%;
}
