.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 1300px;
  gap: 2%;
}

.projectCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5%;
  width: 100%;
}

.projectCardMain {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectCardWrapper {
  width: 100%;
  /* Need to change this width in a media query for desktop ^ */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.3);
  min-height: 20em;
  justify-content: space-between;
  max-width: 400px;
  max-height: 420px;
  border-radius: 10px 10px 0 0;
}

.projectCardButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20%;
  width: 100%;
  background-color: white;
  border: none;
  cursor: auto;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.3);
  /* padding: 3% 0; */
  border-top: 1px solid black;
  border-radius: 0 0 10px 10px;
  max-width: 400px;
}

.projectCardButton button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 2% 0;
  padding-block: 0;
  padding-inline: 0;
  background-color: transparent;
  width: 100%;
  border: none;
  cursor: auto;
}

.projectCardButton svg {
  width: 100%;
}

.projectCardTitle {
  margin: 1em 0;
}

.projectCardWrapper img {
  width: 100%;
  object-fit: cover;
}

.showProjectDetail {
  background-color: #f2e9e4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.showProjectDetail p {
  margin: 5% 5%;
  color: black;
}
.projectDetailArrowDown {
  width: 20px;
  padding: 5px;
  cursor: pointer;
}

.projectDetailArrowActive {
  transform: rotate(180deg);
}

.projectDetailLinkWrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin: 1em 0;
}

.projectDetailLink {
  text-decoration: none;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  width: 40%;
  max-width: 200px;
  color: black;
  background-color: whitesmoke;
}

.projectDetailLink:hover {
  background-color: black;
  color: whitesmoke;
}

.hideProjectDetail {
  display: none;
}

.projectComponent {
  display: flex;
  flex-direction: column;
}
.projectTitleWidescreen {
  display: none;
}

@media (min-width: 1024px) {
  .projects {
    flex-direction: row;
  }
  .projectCardTitle {
    display: none;
  }
  .projectCardContainer {
    width: 100%;
    padding: 3%;
    flex-direction: row;
    justify-content: center;
  }
  .projectCardWrapper {
    border-radius: 10px 0 0 10px;
    height: 100%;
    min-height: 20em;
  }
  .projectCardWrapper img {
    width: 100%;
    height: 358px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
  }
  .hideProjectDetail {
    background-color: #f2e9e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    min-height: 358px;
    border-radius: 0 10px 10px 0;
  }
  .hideProjectDetail p {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    color: black;
    height: 100%;
  }

  .projectTitleWidescreen {
    display: block;
    margin: 2em 0;
  }

  .projectDetailLinkWrapper {
    margin: 0;
  }
  .showProjectDetail {
    background-color: #f2e9e4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    min-height: 358px;
    border-radius: 0 10px 10px 0;
  }

  .showProjectDetail p {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
    color: black;
    height: 100%;
  }

  .projectCardButton button {
    display: none;
  }
  .projectCardButton {
    background-color: transparent;
    border: none;
    width: 100%;
    max-width: none;
  }
  .projectCardWrapper p {
    font-size: small;
  }
}
/* .showMoreButton {
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: transparent;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
}
.showMoreButton:hover {
  color: whitesmoke;
  background-color: black;
} */
