.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-wrap: wrap;
  width: 100vw;
  max-width: 1300px;
  gap: 2%;
}

.projectCardWrapper {
  width: 80%;
  /* Need to change this width in a media query for desktop ^ */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  border-radius: 6%;
  margin: 1%;
  padding: 2%;
  box-shadow: 10px 5px 5px rgb(0, 0, 0, 0.3);
  min-height: 20em;
  justify-content: space-around;
  max-width: 420px;
  max-height: 420px;
}

.projectCardWrapper:hover {
  cursor: pointer;
}

.projectCardWrapper img {
  width: 80%;
  max-width: 250px;
}

.description {
  margin-top: 5%;
  font-size: 0.6em;
  display: flex;
  text-align: center;
}

.showMoreButton {
  display: flex;
  justify-self: center;
  align-self: center;
  background-color: transparent;
  border: 1px solid black;
  padding: 1em;
  margin: 1em;
  cursor: pointer;
}
.showMoreButton:hover {
  color: whitesmoke;
  background-color: black;
}

.projectComponent {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .projects {
    flex-direction: row;
  }
  .projectCardWrapper {
    min-height: 420px;
  }
  .projectCardWrapper p {
    font-size: small;
  }
}
