.headerWrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 67px;
  top: 0;
  padding: 0 2em;
  background-color: white;
  z-index: 2;
  align-items: center;
  align-self: center;
  max-width: 1300px;
}

.headerWrapper nav {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 7em;
  position: absolute;
  right: 0;
  overflow: visible;
  top: 67px;
  align-items: center;
  gap: 12px;
  padding-bottom: 12px;
  padding-top: 12px;
}

.headerInitials {
  display: flex;
  font-weight: 100;
}

.headerBurgerIcon {
  cursor: pointer;
}

.headerBurgerIcon {
  position: absolute;
  width: 3em;
  right: 0;
}

.noShow {
  display: none;
}
.show {
  display: block;
}

@media (min-width: 1024px) {
  .headerBurgerIcon {
    display: none;
  }
  .noShow {
    display: flex;
    width: 100%;
  }
  .show {
    display: inline-block;
  }
  .headerWrapper {
    align-items: center;
  }
  .headerWrapper nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    width: 97%;
    overflow: visible;
    top: 0;
    gap: 12px;
    margin: 1em 0;
  }
  .headerWrapper nav a {
    padding: 0;
  }
}
